/**** Base Styles ****/ 

body {
  font-family: Lato;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  font-size: 1.5em;
  text-align: center;
  color: white;
  background-color: hsl(0,0%,60%);
  background-image: url(img/flannel.jpg);
  background-blend-mode: color-burn;
  padding: 1em;
}

h1, h2, h3, p {
  margin: 0.5em auto;
}

/**** Main Content Styles ****/



#wrap {
  display: flex;
  min-height: 72vh;
  margin: 1em 1em;
}

#main img {
  max-height: 50vh;
}

#main, 
#results {
  flex-basis: 0;
}

#main {
  flex-grow: 2;
}

#results {
  margin: 0.5em;
  padding: 0.5em;
  flex-grow: 1;
  text-align: center;
}

/**** Footer Styles ****/

.icon-label {
  margin: 0;
  visibility: hidden;
  font-size: 0.9em;
  font-weight: 400;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer ul li {
  min-width: 5em;
  text-align: center;
}

footer ul li a {
  padding: 25px 10px 1px 10px;
}

.social-icon:hover {
 transform: translateY(-10px);
 transition-duration: 0.3s;
} 

.social-icon:hover > .icon-label {
  visibility: visible;
}